<style>

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
font-family: 'Montserrat', sans-serif;
font-size:25px;
background-color:rgb(255, 255, 255);
color:rgb(0, 0, 0);
}


footer{
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  background-color: rgb(211, 211, 211);
}




#fascia-superiore {
  height: 36px;
  height: 36px;
background-color: rgb(216, 106, 55);
  padding: 5px;
  padding-right: 200px;

}

#fascia-superiore a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  top: 18px;
  height: 36px;
background-color: rgb(216, 106, 55);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
}

p{
font-size:20px;
}
h1{
font-size:30px;
}

.stile4 {
    background-image: url(immagini/pittore_5.jpg);
    width: 500px;
    box-sizing: border-box;
    border: 5px rgb(251, 122, 17);
    padding: 10px;
    margin: 15px;
    border-style: solid;
    padding: 10px;
    margin: 15px;
}



</style>